body {
    width: 320px;
    min-height: 200px;
}

.collection-item .title {
    font-size: 14px;
    width: 230px;
}
.collection-item .title.truncate {
    cursor: pointer;
}

.collection-item.note {
    position: relative;
}

.collection-item.note .secondary-content {
    position: absolute;
    top: 20px;
    right: 20px;
}

.collection-item .mdi-action-delete {
    font-size: 20px;
}

.collection-item.record .mdi-av-volume-up {
    font-size: 20px;
    margin-right: 10px;
}

.collection-item audio {
    width: 260px;
    margin-top: 10px;
}

.full-note {
    font-size: 14px;
}

#listNotes {
    padding-bottom: 80px;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 10px 10px 0;
    background-color: white;
    -webkit-box-shadow: 0 -5px 5px -5px #333;
    -moz-box-shadow: 0 -5px 5px -5px #333;
    box-shadow: 0 -5px 5px -5px #333;
}
.fixed-bottom .row {
    margin: 0;
}